body {
    background-color: #EBECEE;
  }
  
main {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-top: 180px;
}
.icon {
    display: flex;
    order: -1;
    width: 35%;
    margin-top: 100px;
    margin-left: 100px;
}
.error {
    color: #35424B;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 120px;
}
.first {
    font-size:30px;
    color: #75758F;
    margin: 0;
    margin-top: 5px;
    font-family: Arial;
    font-weight: 600;
}
.second {
    color: #9D9DA5;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 100;
}
.container > a {
    align-self: center;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0;
    background-color: #656C86;
    border: 1px solid #656C86;
    padding: 17px;
    width: 110px;
}
